body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    /* Medidas Absolutas 
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    
    16px geralmente = 1em (tamanho padrão)
    */
    font-size: 1em;
}

h1 {
    font-family: 'work sans', sans-serif;
    font-weight:bolder ;
    font-size: 3em;
    font-style: italic;
    /* shorthand font 
    
    - font-style -> font-weight -> font-size -> font-family */

    font: italic bolder 3em 'work sans', sans-serif;
}

h2 {
    font: bold 2em 'work sans';
}

