* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url('imagens/espaco.jpg') center center;
    background-size: cover;

}

.astronauta {
    width: 300px;
    background-image: url(imagens/astronauta.png);
    background-position: relative;

    
}