* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url('imagens/espaco.jpg') center center;
    background-size: cover;
    position: relative;
    

}

.astronauta img {
    width: 300px;
    height: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
 }
 