h1 {
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;

    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

a {
    border-width: 10px;
    border-style: solid;
    border-color: red;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

hr {
    
    border: 0;
    border-top: 1px solid rgb(211, 209, 209);
    

}
